[2019-12-09 11:27] marcoreni opened #1 "Amplify crashes while calling DynamoDB if AWS Credentials are not set"
Hi @bboure !

First of all, thanks for this plugin.

I've tested it and adjusted a few things (PR right up), but I've encountered an issue where I wasn't sure about the solution.

In my local environment I do not have a "default" profile inside AWS configuration. While testing the plugin I got this error:
[code]
I tried setting some invalid credentials:
[code]

And the DynamoDB call went on withou

[2019-12-09 12:04] bboure commented on #1
Thank you for you PR @marcoreni
Concerning this issue, looking at [serverless-dynamodb-local](https://www.npmjs.com/package/serverless-dynamodb-local), in their example, they suggest doing this:
[code]

So, I guess we could add fake credentials [here](https://github.com/bboure/serverless-appsync-simulator/blob/master/src/getAppSyncConfig.js#L33)

Unless, we want to implement custom Db configuratio

[2019-12-09 12:30] marcoreni commented on #1
Right, for now we can set the fake as default since the endpoint is fixed inside the initialization.

PR coming right up.

[2019-12-10 18:59] #1 closed

[2019-12-21 21:27] bboure opened #8 "Chore: Write unit tests"

[2019-12-23 12:15] robboerman2 opened #9 "Error AppSync Simulator: TypeError: Cannot read property 'findWrappedResource' of undefined"
**Describe the bug**
on serverless start i get a error
AppSync Simulator: TypeError: Cannot read property 'findWrappedResource' of undefined

**To Reproduce**
Got the current serverless.yml setup custom like this:
`custom:
  name: ${self:service}-${self:provider.stage}
  dynamodb:
    start:
      port: 8039
  appsync-simulator:
    port: 6239
    dynamoDb:
      endpoint: "http://localhost:8039"

[2019-12-23 12:47] bboure commented on #9
Thanks for raising this issue.

Issue seems to come from the [cfn-resolver-lib](https://github.com/robessog/cfn-resolver-lib) dependency. [here](https://github.com/robessog/cfn-resolver-lib/blob/68a990808c027a84757a19792e8c7d9b309de992/src/nodeTypes/FnGetAttNode.js#L17)

[`Resources` is undefined here](https://github.com/robessog/cfn-resolver-lib/blob/68a990808c027a84757a19792e8c7d9b309de992/src/n

[2019-12-23 12:56] robboerman2 commented on #9
Great :) waiting on your fix then. this plugin looks amazing btw 👍 really something that the community was waiting on, to make debugging offline better

[2019-12-23 14:48] #9 closed

[2019-12-23 14:52] bboure commented on #9
Should be fixed in v0.3.2

[2019-12-23 15:16] robboerman2 commented on #9
You are amazing! 🥇

[2020-01-03 20:25] LMulvey opened #11 "Config variables are unresolved from Serverless config"
**Describe the bug**
While attempting to use an environment variable as my `apiKey` option, I realized that the variables weren't being resolved before reaching the plugin and were evaluating as-is (i.e, `apiKey` would evaluate to `${env:API_KEY}`

**To Reproduce**
Attempt to use any variable in the options for `appsync-simulator` inside your Serverless configuration.

**Expected behavior**
Variab

[2020-01-03 21:04] #11 closed

[2020-01-17 06:45] chaitanya11 opened #14 "AppSync Simulator: TypeError: FnSplit is not a constructor"
**Describe the bug**
Unable to start appsync in local using this plugin.

getting error like this

AppSync Simulator: TypeError: FnSplit is not a constructor

using these packages

[code]

added in plugin sections like this

[code]

<img width="723" alt="Screenshot 2020-01-17 at 12 17 15 PM" src="https://user-images.githubusercontent.com/16046840/72590495-d3e72180-3923-11ea-8fd8-b28537091451.png">

[2020-01-17 07:13] bboure commented on #14
@chaitanya11 I suspect this is related to the dependency `cfn-resolver-lib`
Are you using the Cfn `FnSplit` function somewhere in your yaml file?

[2020-01-17 07:17] chaitanya11 commented on #14
Yeah i am using that function, is that a problem? if so, can you suggest some alternative ?

[2020-01-17 07:21] bboure commented on #14
@chaitanya11 Can you point out where you are using it and how in your yaml?
Maybe there is an alternative out a workaround for it.
Otherwise I guess you could also open an issue at https://github.com/robessog/cfn-resolver-lib to add support for it.

[2020-01-17 07:26] chaitanya11 commented on #14
@bboure i am using to attach subnetids to lambda function like bellow

[code]

[2020-01-17 07:46] bboure commented on #14
@chaitanya11 this is a bug in https://github.com/robessog/cfn-resolver-lib
The simulator does not need the `vpc` options, but it tries to parse the `functions` config in order to extract the function handlers. This is when the issue happens.

A lame workaround for now would be to comment out those lines when running the simulator.

AN issue should probably be opened on https://github.com/robessog/

[2020-01-17 07:54] chaitanya11 commented on #14
Thanks a lot @bboure .

[2020-01-17 07:54] #14 closed

[2020-02-14 16:04] bboure commented on #14
@chaitanya11 FYI,  This was solved apparently
https://github.com/robessog/cfn-resolver-lib/issues/24

[2020-04-14 22:24] vance opened #17 "Can't start offline: not finding mappingTemplates?"
Thanks for creating this plugin.
When I'm using serverless-appsync-simulator 0.3.4 I get an error when running offline:

`AppSync Simulator: TypeError: (appSyncConfig.mappingTemplates || []).flat is not a function`

I also tried making file references since I saw an issue where [file mapping support](https://github.com/bboure/serverless-appsync-simulator/issues/11) was added.

Here is the relevant

[2020-04-15 06:35] bboure commented on #17
@vance Are you using the [serverless components](https://github.com/serverless-components/aws-app-sync) plugin for Appsync?

This plugin is not meant to work with that.

I still see that your file looks more like a config file for the "traditional" serverless plugin, so maybe it's a mistake?

If you are using [the plugin](https://github.com/sid88in/serverless-appsync-plugin), then could you try to

[2020-04-15 15:49] vance commented on #17
I am using the plugins. Will get debug shortly.
[code]

[2020-04-15 16:41] vance commented on #17
I can't find in the serverless `-help`  how to get verbose stack traces. I tried just copying the config from the plugin readme, but get the same error.
[code]

[2020-04-15 16:52] vance commented on #17
I get around the error now. It was because I'm an idiot and copy pasta'd my package.json from another project that had this in the buried deep in the local start script:
`serverless offline start -s local`

that runs it in backward compatibility mode. Will close and re-open if there's still an issue. thanks!

[2020-04-15 16:52] #17 closed

[2020-04-25 18:32] cmaycumber commented on #17
I'm running into the same issue. I tried running serverless offline without the start command which would run it in backward compatibility mode as @vance said but when running serverless offline like that the plugin doesn't seem to start.

[2020-05-01 02:26] cmaycumber commented on #17
For anyone else that might run into this my issue that I was using an older version of node that didn't support the flat method on my personal computer.

[2020-05-11 12:14] FilipPyrek opened #20 "API server start fails when using Fn::GetAtt when Resources are empty"
**Describe the bug**
I'm passing the AppSync GraphQL API endpoint to functions via intrinsic function in environment variables. It works with no problem when deployed. But when I try running it locally, I get error:
[code]

**To Reproduce**
Put into `provider.environment` for examlpe:
[code]
and run `$ serverless offline start`

**Expected behavior**
There should be no error when starting the API

[2020-05-11 16:36] bboure commented on #20
@FilipPyrek Can you check if #19  fixes the issue?
I think this is the same issue. It ahs not been release yet though

[2020-05-11 18:47] FilipPyrek commented on #20
Unfortunately #19 is not solving this issue at all.

[2020-05-11 19:15] FilipPyrek commented on #20
The problem appears when [`node.Resources`](https://github.com/bboure/serverless-appsync-simulator/blob/master/src/index.js#L154-L157
) is an empty object.
[code]
and when `Fn::GetAtt` is used for example in environment variables.

[2020-05-11 19:15] bboure commented on #20
@FilipPyrek sorry, I think I understand the issue better now.

Issue seems to be here https://github.com/robessog/cfn-resolver-lib/blob/master/src/nodeTypes/ObjectNode.js#L7

default should probably be `{}`.

[2020-05-11 19:17] FilipPyrek commented on #20
Yes, exactly @bboure . Or at least in our use case.

[2020-05-11 19:20] bboure commented on #20
Yes, that is because, as you said, `addChild` is never called and https://github.com/robessog/cfn-resolver-lib/blob/68a990808c027a84757a19792e8c7d9b309de992/src/nodeTypes/FnGetAttNode.js#L17 fails.

AN alternative is to safe-check `wrappedObkect` [here](https://github.com/robessog/cfn-resolver-lib/blob/master/src/nodeTypes/ResourcesNode.js#L10) so that [here](https://github.com/robessog/cfn-resolv

[2020-05-11 19:35] FilipPyrek commented on #20
If you want, I can open the PR in `cfn-resolver-lib`. Just let me know.

btw. thanks for such a nice plugin. 👏 Otherwise it would be a mess developing AppSync APIs locally. This solution is much better than unmaintained [serverless-appsync-offline](https://github.com/aheissenberger/serverless-appsync-offline) plugin which depends on Java because of the forced DynamoDB local integration.

[2020-05-11 20:13] bboure commented on #20
Feel free to open a PR, I'll back it.

[2020-05-13 12:53] FilipPyrek opened #22 "Pass all the environment variables to the functions"
**Is your feature request related to a problem? Please describe.**
When Lambda function is deployed, the environment variables like `AWS_REGION` are implicitly set by AWS itself. So for example in NodeJS the `aws-sdk` can extract the region value from the environment variable. But when locally using `serverless-appsync-simulator`, only environment variables defined in `serverless.yml` file are pas

[2020-05-13 13:54] bboure commented on #22
@FilipPyrek  I solved this kind of problem using https://github.com/colynb/serverless-dotenv-plugin

I just have a `.env.local` file where I set:
[code]

In that file you can override any env var from `provider.environment` or define additional ones (like `AWS_REGION`), or just stage specific values.

Then I run the simulator with,  `sls offline start -s local --env local`

`-s` is the serverless

[2020-05-13 22:29] FilipPyrek commented on #22
Even tough I understand you point @bboure I don't think I's a way in our case at @purple-technology because we already have some workflow in place with `.env` files and when I tried dynamically generate configuration for the serverless-dotenv-plugin I didn't succeed because the plugin is not processing the the incoming configuration values with `serverless.variables.getValueFromSource` thus doing

[2020-05-14 05:22] bboure commented on #22
@FilipPyrek I am not sure I understood your sue case.
Are you having dynamically generated env vars through `macro.js` ?
(If that is the case, I would be curious to see how you guys do that. That could be useful :))

In any case, I can offer you another compromise. Or maybe a couple of them:

1) Add a `custom.appsync-simulator.lambda.loadLocalEnv` option.
If `true`, the plugin will load all local

[2020-05-14 10:34] Mudassir-23 opened #23 "Simulating Subscriptions"
@bboure I really appreciate your efforts in contributing to **serverless-appsync-plugin** and creating this awesome **serverless-appsync-simulator** plugin.

I'm facing problem testing subscriptions, I'm assuming subscription endpoint is **ws://${IP_ADRESS}:20003/graphql**

when I subscribe, a message "listening" continues to show up but on mutation, nothing would happen with a subscription(no dat

[2020-05-14 10:38] bboure commented on #23
Hi @Mudassir-23
To be honest, I have not used the subscription feature yet.

I will try to find some time to test and see if there are issues.

In any case, the problem is possibly in https://github.com/aws-amplify/amplify-cli
since, this plugin is only a wrapper of it.

If you have some time and want to help, you can also try to debug and try to find the source of the problem

[2020-05-14 20:00] FilipPyrek commented on #22
Our use case:
- we use monorepo thus we have multiple SLS services in one repo
- we use single `.env` file located in the root directory of the repo
- we load the `.env` with [env-cmd](https://www.npmjs.com/package/env-cmd) plugin. Example: `$ env-cmd -f ../.env serverless deploy`

My idea of using [serverless-dotenv-plugin](https://github.com/colynb/serverless-dotenv-plugin) as you suggested in o

[2020-05-14 20:05] FilipPyrek commented on #22
Perfect, I love you proposals - actually at first I was thinking about point 1. but I thought that maybe it would be too much interference into the plugin so I decided to propose the `AWS_` prefix.

So I vote for the option 1. I think it's the best solution for this problem.

[2020-05-15 08:02] bboure commented on #22
You are more than welcome to open a PR if you feel like it :)

[2020-05-15 15:27] FilipPyrek commented on #22
As I'm working on the PR for serverless-appsync-simulator now, would you mind switching from `yarn` to `npm` @bboure ?

[2020-05-15 16:09] FilipPyrek commented on #22
@bboure I'm getting error `Cannot find module 'extend'` from this line: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/src/server/subscription/mqtt-server/server.ts#L100

When got rid of the `extend` function in the file and replaced it with spread operator  ` { ...DEFAULT_OPTIONS, ...options }` as a hotfix it started to work.

But I'm wondering how is it

[2020-05-15 18:00] bboure commented on #22
Hum @FilipPyrek , Good catch!
I have seen that error before too while working on the package, and could not figure out what the issue was.
I thought it was an issue with babel (I guess I was mislead by the word `extend`).

I think that amplify released a new version of amplify-simulator recently.
Could you try to
`yarn upgrade --latest`
There is [a fix](https://github.com/aws-amplify/amplify-cli/p

[2020-05-15 18:04] bboure commented on #22
Haa, the eternal debate [npm vs yarn](https://www.google.com/search?newwindow=1&sxsrf=ALeKk01YNnfdNd_ZH2qGh-TRvSlxuTMVaQ%3A1589565627241&ei=u9i-XqyVDo64kwXr_7j4DA&q=npm+vs+yarn&oq=npm+vs+yarn&gs_lcp=CgZwc3ktYWIQAzIFCAAQkQIyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6BAgAEEc6BAgjECc6BAgAEEM6BwgAEBQQhwJQ-dYCWKfdAmDd3gJoAHADeACAAYsCiAHhCJIBBTAuMi4zmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEw

[2020-05-15 19:47] FilipPyrek commented on #22
I seems that when I install dependencies with `yarn`, it works. But when I install dependencies with `npm` I get the `Cannot find module 'extend'` error. So for now I will stick with Yarn 😄

But I will submit the PR in amplify-cli anyway.

[2020-05-15 19:54] bboure commented on #22
@FilipPyrek reason is probably because there is no `package-lock.json` file, so it installs the latest version by default.
With yarn, it sticks to the frozen version.
Thanks!

[2020-05-17 19:59] bboure commented on #22
Fixed by #24

[2020-05-17 19:59] #22 closed

[2020-05-18 14:42] chaitanya11 opened #27 "Lambda Data source failed with the following error {}"
**Describe the bug**
Unable to get error message from resolvers in pipeline
`Lambda Data source failed with the following error
{}
`

**To Reproduce**
create a pipeline functions, throw exception in first function of the pipeline, try to catch error message in VTL template or the response from appsync

**Expected behavior**
Should be able to capture error message in VTL

**Screenshots**
<img width

[2020-05-18 14:52] bboure commented on #27
@chaitanya11 Thank you for logging this issue.

Could you show us how you try to catch the error in VTL?

[2020-05-18 15:17] chaitanya11 commented on #27
sure @bboure

here is my response mapping template for the first function in pipeline

[code]

here is my request mapping template for the second function in pipeline.
[code]

[2020-05-18 20:18] bboure commented on #27
@chaitanya11  the error you see in the logs is just for debugging purpose.

According to the doc, it is up to you to handle the errors in the response template.

Looking at your response template I think there is either a typo, or you are missing an `if`

Try adding:

[code]

[2020-05-19 05:07] chaitanya11 commented on #27
@bboure since the error object is empty this condition will not occur, and program will try to convert the empty object to json which will cause `unable to convert to <template> to class com.amazonaws.deepdish.transform.model.lambda.LambdaVersionedConfig` error.

[2020-05-19 05:25] bboure commented on #27
@chaitanya11 ok I understand. Looks like the Error thrown is Empty.

Now that I think about it, I have noticed this issue too in the past.
I think the issue is [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-nodejs-function-runtime-provider/src/utils/execute.ts#L40) (and [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-util-mock/src/util

[2020-05-19 11:50] chaitanya11 commented on #27
@bboure  this scenario is working fine in aws with template version `2018-05-29` but not in simulator. With `2017-02-28` version we are facing problems in both aws and in simulator.

[2020-05-19 19:37] #20 closed

[2020-06-02 12:56] FilipPyrek opened #32 "Big responses seem to "get lost" - they time out"
**Describe the bug**
When I return a big long array, the response seems to be loading indefinitely and then it times-out.

I did some digging and I discovered that the issue comes from here:
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-nodejs-function-runtime-provider/src/utils/execute.ts#L94

According to [this discussion](https://github.com/nodejs/help/issues/1265#issu

[2020-06-02 12:57] FilipPyrek commented on #32
I'm going to submit an issue to [aws-amplify/amplify-cli](https://github.com/aws-amplify/amplify-cli)

[2020-06-02 13:12] FilipPyrek commented on #32
The issue: https://github.com/aws-amplify/amplify-cli/issues/4439

[2020-06-04 16:08] bboure commented on #32
Thanks. Let's see if they giv esome feedback on the issue

Quick question. Is your array that big because it has few large items or lots of small items??

Regardless of the issue, 65K+ seems like a pretty huge response.
Can't you (or, dare I say, shouldn't you) use pagination?

[2020-06-04 19:50] FilipPyrek commented on #32
Big because it has few large items.

Yes, you might be right - but this plugin is called `serverless-appsync-simulator` and it should simulate as much as possible the AWS environment. And in this case - it didn't work locally, but it worked deployed on AWS.
I think that limit on AWS is around [6 Megabytes](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html).

Also for example

[2020-06-04 20:20] bboure commented on #32
Good point @FilipPyrek
Let's see what they say

[2020-06-05 10:51] bboure commented on #27
There is an open PR that fixe this issue:
https://github.com/aws-amplify/amplify-cli/pull/4418

[2020-06-09 03:38] chaitanya11 commented on #27
thank you for your efforts @bboure 👍

[2020-06-16 00:42] zprobst opened #33 "Supporting Multiple Lambda Runtimes"
**Is your feature request related to a problem? Please describe.**
It currently seems that this package supports only javascript lambda resolvers. Am I missing something? Many other languages could be used with serverless. Additionally, this tool is then coupled with an opinion that the lambda resolvers cannot be written in languages outside of javascript.

**Describe the solution you'd like**
I d

[2020-06-16 09:24] bboure commented on #33
Hi @zprobst
Thank you for your feedback.

Multiple runtimes is definitely something we want to implement in this plugin.
I haven't implemented them (yet) for several reasons:
- It wasn't implemented in amplify-cli (on which this plugin is based)
- Most people use node-js with serverless. You are the first one to openly make this demand.
- I didn't really have time 😞

In fact, the use of serverless

[2020-06-18 16:16] FilipPyrek opened #36 "API key is readonly in Amplify GraphQL UI"
**Describe the bug**
I was trying to change the API key in the Amplify GraphQL UI, but the input is `readonly`.
So then I need to set as API key, the one from Amplify GraphQL UI

[code]

**To Reproduce**
Click on "Update Auth", then try changing the value of the "ApiKey" input.

**Expected behavior**
Hotfix: use the Amplify GraphQL UI key as the default one
Proper fix:  fix it in Amplify GraphQL U

[2020-06-18 22:45] FilipPyrek commented on #36
I think that changing the default value in this project could do the job nicely. What do you think @bboure ?

[2020-06-19 07:38] bboure commented on #36
@FilipPyrek yeah, it would be a breaking change though.
Not a critical one, but still...
I could become frustrating for users that have always used `0123456789`

Or maybe, if some people use the simulator in CI, we would be breaking their builds..

BTW, how do you start the UI ? It seems to have stopped working for me and I  cannot figure out why.

[2020-06-20 10:46] FilipPyrek commented on #36
I know it would be a breaking change.. but if we do it properly - according to semantic versioning - and we inform users about this breaking change in some changelog.. they will be well informed and I think it should not be that big deal.

How do I start the UI? This plugin does it for me, right? I just go to the GraphiQL endpoint address:

README.md:

What do you mean by "stopped working"? Like i

[2020-06-20 19:44] moelholm commented on #32
I've hit this limitation too. I created a sample project that illustrates the issue:

https://github.com/moelholm/appsync-simulator-responsesize-bug/blob/master/src/greetings.ts

... just a lot of data - and the request hangs. @FilipPyrek I'm quite sure you got it right: the issue is in code originating from the amplify project. Maybe we should fix it for them 😅

[2020-06-20 21:14] FilipPyrek commented on #32
Hi @moelholm, thanks for the sample, let's push them in the discussion under the issue! 😀  https://github.com/aws-amplify/amplify-cli/issues/4439
It already has got some labels added and it got an assignee. So hopefully it will get fixed soon.

[2020-06-21 11:57] bboure commented on #36
Never mind, I was getting the following error
`Cannot GET /`

It seems like I had my local repo pointing to my local dev env of `amplify-cli`
Probably from when I had been working on it recently. I was probably missing some package or something.
After reinstalling the plugin, it now works.

[2020-06-21 12:00] bboure commented on #32
I started experiencing issues with big responses too recently.
I did not double check but I am pretty sure this is the same issue.
Let's hope they give some feedback soon

[2020-07-10 00:43] douglasgsouza opened #37 "Unknown operation name: TransactWriteItems"
I'm trying to make a TransactWriteItems request to DynamoDB Local and I'm getting the following error message:

"message": "Unknown operation name: TransactWriteItems",
            "errorType": null,
            "data": null,
            "errorInfo": null,
            "path": [
                "createProduct"
            ],
            "locations": [
                {
                    "line": 2

[2020-07-10 06:30] bboure commented on #37
@douglasgsouza Indeed. This plugin relies on amplify-cli under the hood. From what I can see, the `TransactWriteItems` operation [is not yet supported](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/src/data-loader/dynamo-db/index.ts#L29).

They don't support batch operations either.
It might be worth it trying to open an issue or a PR in order to impleme

[2020-07-10 10:30] douglasgsouza commented on #37
Thanks for the reply and sorry for that issue.

[2020-07-10 10:30] #37 closed

[2020-07-27 09:44] bboure commented on #32
Good news. https://github.com/aws-amplify/amplify-cli/pull/4906 fixed the issue. It has already been released.
It came with a small recession issue which [I have fixed](https://github.com/aws-amplify/amplify-cli/pull/4941). Hope this gets merged soon.

I also got https://github.com/aws-amplify/amplify-cli/pull/4421 merged but it has not been released yet. Once it is, I'll get rid of [this hack](ht

[2020-07-27 09:53] bboure commented on #27
Fixed with https://github.com/aws-amplify/amplify-cli/pull/4418

[2020-07-27 09:53] #27 closed

[2020-07-29 20:32] bboure commented on #32
Fixed in v0.7.0 🎉

[2020-07-31 16:00] FilipPyrek commented on #32
Unfortunately I'm not so sure about that @bboure 🙈 😞  https://github.com/aws-amplify/amplify-cli/issues/4439#issuecomment-667185144

[2020-07-31 18:39] bboure commented on #32
@FilipPyrek Thanks for your feedback. I just read your comment. I have seen that error a couple of times but I thought it was another unrelated issue. I now see how it is related. 😞
Let's wait and see if we get a feedback.

I will re-open this issue here.

Most of the time it has been working for me though.

[2020-08-01 17:22] FilipPyrek commented on #32
Also @bboure it seems to me, that with this update, there was introduced complete process exit when an error occurs in the amplify runtime provider. What about just logging the error and sending 500 response - but not killing the entire API. It's quite painful restarting it - especially when you use Webpack plugin...

[2020-08-01 17:34] bboure commented on #32
@FilipPyrek Thanks for the suggestion. Sounds good.
I will see how we can do that.

[2020-08-04 03:33] carlosdubus opened #40 "AppSync Simulator: TypeError: (appSyncConfig.mappingTemplates || []).flat is not a function"
[code]

[2020-08-04 03:34] carlosdubus commented on #40
Looks like I need to update my Node version.

[2020-08-04 03:44] #40 closed

[2020-08-11 13:19] SaraDiab opened #43 "(for now we don't handle number )Return error when call API using number variable"
**Describe the bug**
**I got that error when I called API from the postman**

#set( $expValues = {} )
$!{expValues.put(":price", {"N" : 0})}
#set( $expression = "price = :price " )
The error appears because the price is not a srtring

**But  it is working correctly using AWS Appsync console**

 "message": "Unable to convert {mapper=function map(value) {\n    if (value instanceof map_1.JavaMap)\n

[2020-08-12 13:38] SaraDiab commented on #43
It's ok now

[2020-08-12 13:38] #43 closed

[2020-08-14 13:20] bboure opened #45 "Support Direct Lambdas"
See

https://aws.amazon.com/blogs/mobile/appsync-direct-lambda/
https://github.com/sid88in/serverless-appsync-plugin/issues/348
https://github.com/sid88in/serverless-appsync-plugin/pull/350

Will probably require a change in https://github.com/aws-amplify/amplify-cli

[2020-08-17 09:10] bboure commented on #32
Just opened a PR https://github.com/aws-amplify/amplify-cli/pull/5107
Hope this fixes it for good.

[2020-08-19 20:37] NathanH81 opened #46 "GetAttResolvers not found in params file"
Thank you to all contributors for this library! I am having trouble getting my resolvers to run with the following setup in my serverless.yml file. I think I need to make a change to the getAttMap option in the custom section but I'm not sure how to resolve it. Any advice on how to resolve this?

My dataSources gets the IAMRole Arn like so:

[code]
This gives the following error:

[code]

For refe

[2020-08-20 04:54] bboure commented on #46
@NathanH81 is this blocking?
I think this is related to https://github.com/bboure/serverless-appsync-simulator/pull/41

This message should be a warning only. As far as service role and policies are concerned, they are not necessary by the simulator and the warning can be ignored. The simulator should still work though.

Could you share your experience and explain what is happening exactly?

[2020-08-20 13:08] NathanH81 commented on #46
Yes, you are right. The errors ended up being non-blocking. I initially thought they were blocking. But good to know the errors can be safely ignored. Thank you for your help.

[2020-08-20 13:08] #46 closed

[2020-08-20 14:47] cdavis21 commented on #33
+1 (currently using python)

[2020-09-11 14:06] Gdewilde commented on #45
Thanks for this plugin! Any ETA for direct lambda support?

[2020-09-11 15:03] bboure commented on #45
@Gdewilde I started to look into this a few days ago. It involves some work in https://github.com/aws-amplify/amplify-cli as they don't support it yet.
I am not quite sure how to do it yet, though.

[2020-09-29 20:27] jeffycyang opened #48 "API server start fails using Fn::GetAtt with no Resources block"
**Describe the bug**
I'm experiencing something similar to this [issue](https://github.com/bboure/serverless-appsync-simulator/issues/20), although my error instead is `AppSync Simulator: TypeError: Cannot read property 'findWrappedResource' of undefined` (same error as this [issue](https://github.com/bboure/serverless-appsync-simulator/issues/9)) and thus the simulator fails to start.

In my case

[2020-09-30 05:02] bboure commented on #48
@jeffycyang Thank you for your well documented issue.
I am not sure how your issue is different from #20 (the error happens almost at the same place, one level higher).
The solution seems to be [here](https://github.com/robessog/cfn-resolver-lib/blob/68a990808c027a84757a19792e8c7d9b309de992/src/nodeTypes/FnGetAttNode.js#L17)

We need to safe-check that `convertedResources` is defined.
We should op

[2020-09-30 14:20] jeffycyang commented on #48
Ahh I see, that makes sense, I'll look into opening a PR in `cfn-resolver-lib` over the weekend and keep you updated 👍

[2020-10-05 14:37] parthbond180 opened #49 "'selectionSetGraphQL' parameter from context incorrectly contains the 'arguments'"
**Describe the bug**
I have a Lambda Data Source for a query type in the form (from schema file) -
[code]
When I start the appsync simulator, I am able to connect to the local AppSync instance and query it using the 'aws-amplify' library where I send in a request of the form -

[code]

The above query hits the Local Lambda Data Source correctly, but incorrectly passes in the 'arguments' into the '

[2020-10-06 18:57] FilipPyrek commented on #32
Thanks @bboure. How is it looking? I can see that your PR has been merged. Was it also released yet?

[2020-10-06 19:15] bboure commented on #32
@FilipPyrek not yet. It was merged but I had to wait for them to actually release a new version.
I think it is ok now.
I will prepare a new version soon

[2020-10-13 13:24] parthbond180 commented on #49
Hi @bboure any update on this issue?

[2020-10-15 03:25] nikaera opened #51 "A schema with a Lambda Resolver in GraphiQL had an empty response error."
**Describe the bug**
I tried to start it offline with serverless-appsync-simulator by writing serverless.yml as follows.

[code]
[code]

I have verified that the `IS_OFFLINE=1 sls offline start` can be started successfully, and the `aws lambda invoke` command can be used.
[code]

However, when trying to execute the same command with GraphiQL, the response was not returned. **Also, when I checked t

[2020-10-15 11:40] bboure commented on #51
Hi @nikaera
Thanks for the detailed information.
What do you see in your terminal console when you execute the request?
Any log or error?

[2020-10-15 13:43] nikaera commented on #51
Hi @bboure

The `aws invoke` command printed a log, but GraphiQL didn't print anything to the terminal, even after the GraphiQL error.

[2020-10-15 14:48] parthbond180 commented on #49
ok is there a workaround for this in the meanwhile? this is breaking one of my API's

[2020-10-15 15:52] nikaera commented on #51
I added a console.log below to see if I was trying to run the Lambda function when I made a request from GraphiQL.
https://github.com/dherault/serverless-offline/blob/c4688c60cab1d029f1c794d9f3fdaf5a9edf8a3c/src/lambda/LambdaFunction.js#L192

The result was that running `aws invoke` printed out the console.log, but making a GraphiQL request did not... 🤔

[2020-10-16 03:28] nikaera commented on #51
Hi @bboure, I may have found the cause.

I first checked the following template project to see if it worked.
https://github.com/daisuke-awaji/serverless-appsync-offline-typescript-template

I have confirmed that the query with the Lambda resolver is working properly.
I then checked the differences between the project and the project where the Lambda resolver was not working properly.

I'm using th

[2020-10-16 05:47] nikaera commented on #51
GraphiQL is now able to run, but only the first request succeeds, and the second and subsequent requests produce the following error...
<img width="1088" alt="スクリーンショット 2020-10-16 14 44 43" src="https://user-images.githubusercontent.com/1802476/96217768-41f96b80-0fbe-11eb-9d5d-829612f874da.png">
[code]

[2020-10-16 09:12] bboure commented on #51
Thanks for all the details.
Looks like the other issue your are talking about has been fixed (https://github.com/aws-amplify/amplify-cli/pull/5385)

However, I think that part of the code is deprecated and we are not using it anymore in this project.
What version of serverless-appsync-simulator are you using?

[2020-10-16 09:31] bboure commented on #49
Sorry @parthbond180
In your lambda, try to find "})" and take only what is after.

[code]

This is a bit hacky but it might work.
I'll try to fix it asap.

[2020-10-16 10:02] bboure commented on #51
Never mind, I already see you are using a recent version `amplify-nodejs-function-runtime-provider/lib/utils/execute.js`  is the right path.
I wonder if the same fix should be applied [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-nodejs-function-runtime-provider/src/utils/execute.ts#L108)

[2020-10-16 10:07] bschulz87 commented on #45
Is setting request and/or response on a direct Lamba resolved field to null resulting in this error:
`AppSync Simulator: Error: ENOENT: no such file or directory, ...` related to this issue?

[2020-10-16 12:09] nikaera commented on #51
Thank you for your confirmation. 🙏

I'm using 0.7.0 right now. 🙋

[code]

I am also curious about this. I have looked at the logs and the console shows an error, but when I look at the results of the run it appears to be successful. ⬇️ 🤔
[code]

<img width="1090" alt="スクリーンショット 2020-10-16 20 58 34" src="https://user-images.githubusercontent.com/1802476/96255741-6111f080-0ff2-11eb-9a63-4e592e58add7

[2020-10-16 12:13] nikaera commented on #51
@bboure Oh, I just thought I'd verify, based on your opinion, by changing exit(1) to exit(0) and it always succeeds in running Lambda!! 👀
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-nodejs-function-runtime-provider/src/utils/execute.ts#L108

[2020-10-16 13:07] bboure commented on #49
PR open https://github.com/aws-amplify/amplify-cli/pull/5602

[2020-10-16 13:09] bboure commented on #51
great,
If this fixes your issue, a PR should be open on aws-amplify

[2020-10-16 14:53] somq commented on #51
I confirm your fix @bboure ,
There is already a PR merged, prolly release in `amplify-appsync-simulator@1.23..2` (didnt verify tho)

- Related issue: https://github.com/aws-amplify/amplify-cli/issues/5378
- PR: https://github.com/aws-amplify/amplify-cli/pull/5385/files

A `amplify-appsync-simulator` upgrade should not hurt anyway

[2020-10-16 16:26] nikaera commented on #51
@bboure Thank you for the suggestion. I have created a PR. 🛠️
https://github.com/aws-amplify/amplify-cli/pull/5608/files

@somq Thank you for your comment. 🙏
I fixed `amplify-nodejs-function-runtime provider` instead of `amplify-util-mock`, so I've created a new PR. 🙋

[2020-10-26 15:47] BracketJohn commented on #51
We're also facing this issue when chaining lambda functions as query results. If we chain two functions `f1` and `f2` for a `Query`, we only get a valid return iff `f1` and `f2` return in time. Else the exit code `1` of either function stops GQL from resolving correctly.

Very much looking forward to the fix provided in https://github.com/aws-amplify/amplify-cli/pull/5608!

[2020-10-26 17:32] somq commented on #51
@BracketJohn I monkeypatched the issue in the meantime on my side

package.json
[code]

[2020-10-27 17:47] nikaera commented on #51
The following PRs have been successfully merged and this issue is now closed! 🎉
https://github.com/aws-amplify/amplify-cli/pull/5608/files

It was very emotional to be able to commit to OSS for the first time in my life.
I would like to thank everyone involved in this issue. Thank you so much guys! 🙌

[2020-10-27 17:47] #51 closed

[2020-10-29 08:50] brno32 opened #53 "Upgrading to 0.7.1 throws Error: GUID must provide "serialize" function"
**Describe the bug**
Upgrading to `serverless-appsync-simulator` version `0.7.1` has caused the following error to be thrown when running the local server:

[code]

**To Reproduce**
Upgrade to `0.7.1`. Use these dependencies as well

[code]

And create a graphql schema making use of only `ID`, `String,` `Int`, `Float` types and types based off of `enum`s.
We're also using various aws decorators li

[2020-10-29 11:40] brno32 opened #54 "Unable to connect to websocket server for subscriptions"
**Describe the bug**
The server appears to run fine, but when trying to connect from my frontend application I'm getting

[code]

In my browser console I can see it trying to connect to the wrong websocket port

[code]

**To Reproduce**
Set up the plugin in the serverless file

[code]

`package.json` with these deps

[code]

Connect via the `amplify` library (we're using a React app)

[code]

And

[2020-10-31 10:18] FilipPyrek commented on #32
@bboure I can see that the Amplify fix has been released right now in CLI v4.32.0 🎉
https://github.com/aws-amplify/amplify-cli/issues/4439#issuecomment-719847515

[2020-10-31 10:21] bboure commented on #32
@FilipPyrek Yes.
Although it was already released in a sub package previously.
The fix should already be in v0.7.1

[2020-10-31 10:34] FilipPyrek commented on #53
I also got the same error when upgrading from `0.7.0` to `0.7.1`.

[2020-10-31 10:35] bboure commented on #53
@brno32 Thanks for opening this issue.
As I understand, you are not using any custom scalar like `GUID` in your project?

Error seems to come from `node?modules/src/scalars.GUID.ts` which I don't know what this is.

It looks like it is from this module https://www.npmjs.com/package/src but looking at [the source](https://github.com/wlaurance/src), I doubt it.

[2020-10-31 10:36] bboure commented on #53
Thanks @FilipPyrek for confirming this.
I am not getting this error on  my side.
Any idea on on to reproduce?

[2020-10-31 11:09] FilipPyrek commented on #53
I can see in my `package-lock.json`:
[code]

And I saw there: `"amplify-appsync-simulator": "^1.23.3",`

Then I also found in the same `package-lock.json` this:
[code]

We can see there `"version": "1.23.9",`,
_When I took a look at `node_modules/amplify-appsync-simulator/package.json` I could really see there version `1.23.9`._

When I tried removing this 👆 record in `package-lock.json` and remov

[2020-10-31 11:45] bboure commented on #53
Thanks for these detailed info @FilipPyrek
I had the version of `amplify-appsync-simulator` locked to `1.23.7`.
I forced-upgraded it. Now using `1.23.9`

However, I am still not reproducing the error.

What troubles me is that I cannot find the following file in my node_modules:
`node_modules/src/scalars/GUID.ts`

are you?

[2020-10-31 11:55] bboure commented on #53
What do you see when you run the following command?

`npm ls graphql-scalars`
or
`yarn why graphql-scalars`

[2020-10-31 12:04] FilipPyrek commented on #53
IMO the issue with `node_modules/src/scalars/GUID.ts` could be incorrect source maps.
Because I can see the same path `/src/scalars/GUID.ts` in [graphql-scalars](https://github.com/Urigo/graphql-scalars)

Output of `npm ls graphql-scalars`:
[code]

Also I can see that `25 days ago` was added `GUID` to  [graphql-scalars](https://github.com/Urigo/graphql-scalars). And I can see that the `serialize`

[2020-10-31 12:08] FilipPyrek commented on #53
When upgrading to `0.7.1` I can also see this change in `package-lock.json`

[code]

[2020-10-31 12:14] bboure commented on #53
yes, this is also what I figured out.

I am also on the same versions now

[code]

Still no error on my side.
I suspect it might be schema-related.
Are you using any particular scalar in your schema?

[2020-10-31 12:41] FilipPyrek commented on #53
My schema is quite simple
[code]

I tried replacing `ID` with `String`, but that didn't help.

[2020-10-31 13:06] bboure commented on #53
Thanks.

Still no luck on my side after creating a fresh new project.
I suspect there is some kind of incompatibility in you package-lock.json

could you try to
- rm -rf node_modules
- rm package-lock.json  (keep a copy of it just in case)

then npm install again and see if the problem persists.

[2020-10-31 13:20] FilipPyrek commented on #53
My findings:

I cloned `graphql-scalars` and I added `console.log(GraphQLGUIDConfig)` to `GUID.ts` file to see what is value of `GraphQLGUIDConfig` and I ran tests.
I got this:
[code]

when I did it in node_modules of the project and then I started `serverless-appsync-simulator`, I got this:
[code]

Which is quite strange.

I'm going to proceed to package-lock suggestion of yours @bboure

[2020-10-31 13:33] FilipPyrek commented on #53
I found it!
It caused by graphql versions mismatch.
I've had installed one dependency which used graphql version `0.13.2` and I can see that `_scalarConfig` is present in that old version: https://github.com/graphql/graphql-js/blob/5f50543f7608d52403b1440d1a617626f412a63f/src/type/definition.js#L454

 So `graphql-scalars` was using that old version becuase in they have `graphql^0.13.0` in their `p

[2020-10-31 13:44] brno32 commented on #54
A colleague and I looked at this more and I suspect it's an issue with the amplify client, not this library or the appsync simulator it's wrapping

[2020-10-31 13:58] bboure commented on #53
Great job!

`graphql` version mismatch was also in my suspicions.

What is your dependency that is using an old version of graphql ?
It might be worth suggesting them to upgrade too

[2020-10-31 14:52] bboure commented on #54
@brno32 Thanks for opening this issue.
Yes, it is highly probably that the issue comes from `amplify-cli`.

Try to debug around [here](https://github.com/aws-amplify/amplify-cli/blob/f6dac5b6d55867e35b28b1c3eec9a6eeb4e4fbe3/packages/amplify-appsync-simulator/src/server/subscription.ts#L86) and see the value of the port.

[2020-11-02 10:28] FilipPyrek commented on #53
It was this old deprecated package `@conduitvc/appsync-emulator-serverless`. So in this case there is nobody to notify.
But anyway installation of that package served as a hotfix of some other issue.. but the issue was already fixed so I just removed it and it works okay.

[2020-11-02 10:28] FilipPyrek commented on #53
Here is the issue in `graphql-scalars`: https://github.com/Urigo/graphql-scalars/issues/578

[2020-11-02 10:31] bboure commented on #53
Thanks for feedback @FilipPyrek

@brno32 Does that help into fixing your issue?

[2020-11-02 10:56] brno32 commented on #53
I removed `aws-appsync` from my dependencies, which in turn removed `graphql^0.13.0`. I upgraded to `0.7.1` of this package and can confirm the issue is gone. Thanks!

[2020-11-02 10:59] bboure commented on #53
Great thanks @brno32

Closing this issue

[2020-11-02 10:59] #53 closed

[2020-11-02 16:41] somq opened #55 "Plugin crashes with a VPC and GetAZs in the stack (Index 0 is out of bound)"
**Describe the bug**
`appsync-simulator` does not succeed to launch if a VPC with `GetAZs` attributes is present in the stack.
The error message is `Index *n* is out of bound.`

**To Reproduce**
Here is a repro repo: https://github.com/somq/appsync-out-of-bound-issue

**Expected behavior**
`cfn-resolver` should be able to parse`GetAZs` & `appsync-simulator` should run and output the graphql URLs.

[2020-11-06 22:50] ElvenMonky commented on #23
Historically AppSync was using MQTT not WebSocket to deliver subscriptions.

[2020-11-10 15:48] theoribeiro commented on #33
Hi @bboure!

I investigated the alternative you proposed in the above comment and in general lines it does work. However, there are a few problems with the runtime providers that would make this solution not ideal at this point.

For instance, the python runtime provider expects a certain path for your function to be in (your functions need to be in `./src/`), but if you do that then you need to c

[2020-11-14 18:01] FilipPyrek commented on #48
I'm also experiencing same issue. 👍

[2020-11-14 18:43] bboure commented on #48
@FilipPyrek  @jeffycyang  looks like the PR was accepted and merged.
I'll include the fix in the next version

[2020-11-15 02:09] jeffycyang commented on #48
@bboure thanks! 🙏

[2020-11-15 08:31] bboure commented on #33
@theoribeiro Thanks for taking time to investigate this.
The solution to your path issue might be to just change the `location` option
It allows you to change the location of the handler, for example when using webpack, or in your case.
(see the README file).

I opened the PR for you and will have a look at it.

[2020-11-15 15:00] bboure commented on #48
Upgraded in v0.8.0
Thank you @jeffycyang

[2020-11-15 15:00] #48 closed

[2020-11-16 09:39] somq commented on #55
Any update on this one @bboure?

[2020-11-16 10:52] bboure commented on #55
Sorry @somq for getting back late to you.
Could you please try the following?

In [this block](https://github.com/bboure/serverless-appsync-simulator/blob/master/src/index.js#L124-L133), add:

[code]

and see if this works.

[2020-11-19 16:02] somq commented on #55
Thanks for your time, it does fix the issue.
I made a PR with the change.

[2020-11-19 17:15] #55 closed

[2020-11-28 13:17] FilipPyrek commented on #54
@brno32 try to add
[code]
to the root of your Amplify configuration object.
That worked for me.

Reference:
https://github.com/aws-amplify/amplify-js/blob/main/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L220-L223
https://github.com/aws-amplify/amplify-js/blob/main/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L578

[2020-11-29 09:38] brno32 commented on #54
Ah nice find! That indeed makes the original error go away, but for me subscriptions still aren't working end-to-end. My client is unable to subscribe. After some time, I get

[code]

[2020-11-29 11:04] FilipPyrek commented on #54
🤔 Try installing latest version of `aws-amplify` and `serverless-appsync-simulator` @brno32

[2020-11-30 08:53] brno32 commented on #54
Darn same deal. I upgraded `aws-amplify` to `3.3.10` and `serverless-appsync-simulator` to `0.8.1`

[2020-12-07 15:27] abdala commented on #8
Yes, please!

If you start, I can help you. I just don't wanna choose libraries, structure and filenames :P

[2020-12-17 15:00] bboure commented on #45
Fixed by #62
@bschulz87 To support direct lambda, you need to set request/response template to  `false`
`null`or 'undefined` means default template naming: `Type.field.vtl`
[See documentation](https://github.com/sid88in/serverless-appsync-plugin#configuring-the-plugin)

[2020-12-17 15:00] #45 closed

[2020-12-17 15:00] #32 closed

[2020-12-18 13:46] #8 closed

[2020-12-30 16:17] aldegoeij commented on #36
@FilipPyrek where did you add this in serverless.yml? Tried every combo I can think of but can't find the right one :D

[2020-12-31 10:44] FilipPyrek commented on #36
@aldegoeij you have to put the `appsync-simulator` configuration to the `custom` field as shown here: https://github.com/bboure/serverless-appsync-simulator#configuration

[code]

[2021-01-21 15:13] adriantodt opened #70 "Watchman prevents AppSync Simulator"
**Describe the bug**
Trying to execute the AppSync Emulator briefly starts it, but crashes shortly after with a unhelpful error message. Searching it on Google doesn't seem to get anything else, really.

[code]

**To Reproduce**
My current `serverless.yml` file uses the following plugins

[code]

**Expected behavior**
I just expected at least a better error message, honestly. I'm just trying to co

[2021-01-21 16:07] bboure commented on #70
Thanks for opening this @adriantodt
Just to remove the obvious stuff out of the way, you have watchman installed globally, right?

What version are you using?

[2021-01-21 17:21] sarfraaz-talat opened #71 "Error on @model & @versioned directives in graphql schema"
I am getting this error while trying to run  it

<img width="1332" alt="Screenshot 2021-01-21 at 10 52 16 PM" src="https://user-images.githubusercontent.com/24787560/105387840-f8af5c80-5c3b-11eb-8a4d-366db517c792.png">

I have plugins as below in my serverless.yml

<img width="384" alt="Screenshot 2021-01-21 at 10 57 24 PM" src="https://user-images.githubusercontent.com/24787560/105387931-1086e080

[2021-01-21 20:00] cameroncf commented on #70
If you don't have watchman installed, you might also just try this to see if it will make the error to go away in the meantime...

custom:
  appsync-simulator:
    watch: false

[2021-01-21 20:15] adriantodt commented on #70
Here's the yarn.lock snippet of the code:

[code]

Using `watch: false` does make the error go away (another error appears, though)

[2021-01-21 20:21] cameroncf opened #72 "Simulator Halts Prematurely During Integration test"
**Describe the bug**
I've been working on getting the Simulator up and running for some Integration testing w/Jest. I've roughly been following instructions found in a pretty neat little [article about doing this using serverless-offline](https://niradler.com/serverless-integration-tests-with-offline-plugin/). The goal is to run some Jest tests in my CI/CD pipeline, using node-fetch to automate po

[2021-01-22 17:23] cameroncf commented on #72
I've isolated as much noise out of the code as possible and uploaded it into a [project called simtest](https://github.com/cameroncf/simtest). Note, the org and app names may need to be changed to your own if running this project.

Running `yarn dev` spins up the Amplify GraphQL Explorer and it runs fine in the browser.

Running `yarn test` will run 3 very basic and identical Jest tests. The first

[2021-01-22 18:56] adriantodt opened #73 "AppSync Simulator just hangs"
**Describe the bug**
I tried to execute a lambda but it just hangs. Calling the lambda directly using the AWS CLI works, though. No logs are shown, even with `export SLS_DEBUG true` and `--verbose`

**To Reproduce**
The following plugins are used:
[code]

Our AppSync uses Cognito User Pools + API Key as authentication methods, but I configured both the simulator as well as serverless-offline to us

[2021-01-22 19:22] cameroncf commented on #73
See #72 in which I am also seeing a problem with the plugin hanging. I also have multiple Auth methods.

Curious if you have AWS_IAM as the default authenticationType or if it's in additionalAuthenticationProviders? I've found that when using these two in combination (on live AppSync, not the simulator) that AppSync really wants IAM to be the primary with Cognito as secondary.

[2021-01-22 19:34] adriantodt commented on #73
Almost... the default authenticationType is AMAZON_COGNITO_USER_POOLS and I have API_KEY in the additionalAuthenticationProviders.

[2021-01-22 20:23] cameroncf commented on #73
Oh right - I misread your post. Not sure if flipping the order will help you or not.

[2021-01-31 20:40] MarcusJones commented on #33
Just ran into this as well, took me a while to realize Python wasn't supported! I had a project that mixes both JS and Python resolvers, so it was extra confusing why JS worked through appsync and Python didn't, even though I could still invoke local! Would be great to get an error message or some other feedback.

[2021-02-01 16:44] cameroncf commented on #72
After dropping this problem and coming back to it a little while later I've discovered the cause of the problem. I'll put it here as some Search Engine Fodder in case someone else runs into this same problem.

Turns out that serverless-offline runs the start hook and then waits for SIGTERM or SIGINT because calling the end hook. However, it only waits for SIGTERM/SIGINT when `process.env.NODE_ENV

[2021-02-04 16:52] bboure commented on #72
Thank you @cameroncf for reporting and investigating this issue, and for providing a workaround.

Since there is a "fix" and this is not due to a bug in this plugin, I will close this issue.

[2021-02-04 16:52] #72 closed

[2021-02-04 17:00] bboure commented on #73
@adriantodt I have seen this issue before too. This is not related to multi-auth though (at least in my case). Usually, it happens when there is a wrong config in the YML file or a bad VTL template.

Improving the logs is definitely something I'd like to see. For example, see the compiled request/response VTL. However, this is something that would need to be implemented in Amplify-cli.

I'll try t

[2021-02-04 17:02] bboure commented on #70
@adriantodt Did you solve this issue?
Do you have watchman installed globally?
What other error do you see?

[2021-02-04 17:04] bboure commented on #71
@sarfraaz-talat What is the purpose of the @model directive in your code?
AFAIK, that directive is related to amplify-cli. It has no effect at all in this serverless plugin.
This is why you are getting the error.

That being said, we could probably work on ignoring all (unknown) directives as I understand that they might have a purpose for some users.

[2021-02-04 17:17] sarfraaz-talat commented on #71
Yes, it is related to amplify-cli. If it could be worked to ignore the unknown directives from schema would be great help. I have to maintain duplicate schema files due to this.

[2021-02-04 17:19] bboure commented on #71
@sarfraaz-talat Out of curiosity. Are you using both this plugin and amplify-cli?
What is your use case? I consider them as alternatives and don't see how they fit together in the same project.

[2021-02-04 17:52] adriantodt commented on #70
Oh sorry, my bad. My intent was to get the AppSync Simulator to load, so I did not read the README that thoroughly.
I had other errors related to serverless-offline which I managed to fix, eventually leading to #73.
I do not pretend to use the watch function, so I'll be closing this.

[2021-02-04 17:52] #70 closed

[2021-02-06 00:18] seanvm commented on #33
I had the same issue as theoribeiro trying to get the amplify runtime working (in my case for Go). It expected a very specific path and context to be available.

@theoribeiro I tried your updated code and it does seem to work, however for Golang it is very slow, which I believe is due to `sls invoke local` spinning up a container for every request even though serverless offline is running.

An alt

[2021-02-06 22:18] wSedlacek opened #75 "Feature Request: Aurora/Data API Simulation"
**Is your feature request related to a problem? Please describe.**
I am looking to build out an application using App Sync and the Aurora Serverless.
From what I have read in the resolver [tutorial](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-rds-resolvers.html) the VTL for Aurora Serverless statements is really simple, but it's not clear how this could be run offline.
From what I

[2021-02-07 09:38] bboure commented on #75
Thank you @wSedlacek for this feature request.

Adding support for Aurora would be great. It would be definitely possible to point to a local Mysql/Postgres db.

I do not have any experience using Mysql/PostGres with AppSync (or node.js), though.

The solution is probably to add a [DataLoader](https://github.com/bboure/serverless-appsync-simulator/tree/master/src/data-loaders) for RDS, add a [conf

[2021-02-07 09:43] bboure commented on #33
Yeah. I actually never thought about that and it seems like a reasonable workaround.
The downside is indeed that it enforces dependency on serverless-offline, but it's kind of already the case.

Let's move this discussion in the PR #74

[2021-02-07 13:39] wSedlacek commented on #75
I'll give it a shot and let you know what happens

[2021-03-03 14:52] Scale93 opened #76 "Connection to external DynamoDB does not work if you have protected Dynamo with Session Token"
**The security token included in the request is invalid**
I Have included appsync-simulator inside my serverless project, I'm trying to connect it with my remote DynamoDB resource on AWS that is protected through a session token.

"serverless-appsync-simulator" give me the ability to configure 4 parameter to connect itself with external DynamoDB:
[code]

(Default values of accessKeyId and secretAc

[2021-03-03 15:14] bboure commented on #76
Hi @Scale93

The issue is here: https://github.com/bboure/serverless-appsync-simulator/blob/master/src/getAppSyncConfig.js#L71

The `sessionToken` is not being passed down to DynamoDB.

We could change it and pass the `options` object altogether.
Then, in amplify-cli that should [already work out of the box](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/

[2021-03-05 14:28] Scale93 commented on #76
I have open a PR in wich I have added sessionToken 👍
Let me now if It could be usefull!

[2021-03-05 14:28] #76 closed

[2021-03-18 02:01] MarkusLC opened #80 "ApiKey not working"
**Describe the bug**
Affter setting the apikey under the cunstom configuration of appsync-simulator, i am sitll getting "UnauthorizedException: Invalid API key"

[2021-03-18 07:09] bboure commented on #80
Thank you @MarkusLC for reporting.
Can you share your setup and how you are trying to access the API?

[2021-03-18 14:15] MarkusLC commented on #80
Of course!

  appsync-simulator:
    apiKey: ${file(./stages/config.${self:provider.stage}.json):API-KEY}
    watch: false
    lambda:
      loadLocalEnv: true

[2021-03-18 14:17] MarkusLC commented on #80
I am trying to make a query that use ApiKey authentication.

[2021-03-18 14:18] MarkusLC commented on #80
<img width="1032" alt="Screen Shot 2021-03-18 at 11 17 52" src="https://user-images.githubusercontent.com/37580908/111641108-9ad26780-87db-11eb-9dc7-ff2619d50daf.png">

[2021-03-18 14:36] bboure commented on #80
@MarkusLC  Thank you for your feedback

I see you are using the GraphiQL. Unfortunately, GraphiQL [hardcodes the API key.](https://github.com/aws-amplify/amplify-cli/blob/da712b858873ba90090f7407211ec97ca4991f29/packages/amplify-util-mock/src/CFNParser/resource-processors/appsync.ts#L139)

Also see Issue #36

For testing locally, you can either use `da2-fakeApiId123456` or you can use another Grap

[2021-03-22 00:04] bahachammakhi opened #81 "TypeError: Cannot read property 'evaluate' of undefined"
**Describe the bug**
AppSync Simulator: TypeError: Cannot read property 'evaluate' of undefined.

![image](https://user-images.githubusercontent.com/44755179/111925601-e0c44f80-8aa9-11eb-8c05-271265f8727a.png)
Iam learning a serverless framework right now so I used a start template and added appsync-simulator on it , thank you for your time guys.

This is my serverless.yml file
[code]

[2021-04-04 11:19] parthbond180 commented on #49
Hi @bboure it seems AWS have fixed the PR above, is the fix included on your latest releases?

[2021-04-04 11:21] bboure commented on #49
@parthbond180 Yes! They accepted my PR! It is now live.
I will upgrade the dependencies on this package too.

[2021-04-04 11:26] #49 closed

[2021-04-04 11:27] bboure commented on #49
:tada: This issue has been resolved in version 0.13.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-appsync-simulator/v/0.13.1)
- [GitHub release](https://github.com/bboure/serverless-appsync-simulator/releases/tag/v0.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-06 18:45] appdatasoft opened #87 "{"statusCode":404,"error":"Not Found","message":"Not Found"}"
**Describe the bug**
{"statusCode":404,"error":"Not Found","message":"Not Found"}
http://localhost:3002

**To Reproduce**
$serverless offline
offline: Starting Offline: dev/us-east-1.
offline: Offline [http for lambda] listening on http://localhost:3002
offline: Function names exposed for local invocation by aws-sdk:

**Expected behavior**
Expecting to not get error

**Screenshots**
If applicable,

[2021-04-06 22:01] #87 closed

[2021-04-08 12:59] appdatasoft commented on #81
@bahachammakhi We are also face the same issue on windows. Are you able to find solution to this?

[2021-04-08 14:38] bahachammakhi commented on #81
@appdatasoft no solution till now waiting for the maintainer to respond .

[2021-04-08 14:43] appdatasoft opened #88 "AppSync Simulator: TypeError: Cannot read property 'path' of undefined"
**Describe the bug**
Getting error while setting up serverless-appysnc-emulator on windows
AppSync Simulator: TypeError: Cannot read property 'path' of undefined
**To Reproduce**
Steps to reproduce the behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

  TypeError: Cannot read property 'path' of undefined
      at getAppSyncConfig (C:\Users\Administrat

[2021-04-08 14:57] bboure commented on #81
Sorry Guys, I missed this somehow.

I suspect the error comes from the [cfn-resolver-lib](https://github.com/robessog/cfn-resolver-lib) dependency.
It is hard to tell where exactly, though, there are several [evaluate methods](https://github.com/robessog/cfn-resolver-lib/search?p=3&q=evaluate).

It is probably a resource in your resources `resources.yml` file.

Would you be able to debug and pinpo

[2021-04-08 15:01] bboure commented on #88
Thank you @appdatasoft for raising this.

I see 2 different errors here
`Cannot read property 'path' of undefined` (title of hte ticket)
`Cannot read defaultAuthenticationtype of undefined` in the screenshot.

Could you please clarify the issue, show any output of the console, `serverless.yml` file, etc

It would help understand the problem better

thank you

[2021-04-08 15:08] #80 closed

[2021-04-08 18:06] skix123 commented on #23
Hi, any planned updates in implementing subscriptions?

[2021-04-10 00:05] appdatasoft commented on #36
@bboure @FilipPyrek even though I am giving apiKey: da2-fakeApiId123456 in serverless.yml, the apiKey is empty in GraphQL UI. Any idea how to fix this?
![Screenshot (3603)](https://user-images.githubusercontent.com/41810092/114251269-4e4ef780-9955-11eb-914f-89abfa465a30.png)

AppSync Simulator: TypeError: Cannot read property 'path' of undefined
offline: Starting Offline: dev/us-east-1.
offline: O

[2021-04-10 00:08] appdatasoft commented on #36
Are you able to figure this out?

[2021-04-10 06:06] appdatasoft commented on #80
@bboure  I am trying to use altair like you suggested.

I am having hard time finding the right format to give the apiKey and value. Any suggestions?

![Screenshot (3609)](https://user-images.githubusercontent.com/41810092/114260176-0a291a80-9988-11eb-9ed0-2b0d1aae320f.png)

[2021-04-10 06:44] skix123 commented on #80
@appdatasoft  header name should be `x-api-key` (not `API_KEY`)

[2021-04-10 12:29] appdatasoft commented on #80
@skix123 Thank you! I tried with  both
{"headers":
  {"x-api-key":"da2-fakeApiId123456"}}

{"headers":
  {"x-api-key":"0123456789"}}

I am getting the following in results. What am I doing wrong
I am trying to connect to serverless-appsync-simulator
AppSync Simulator: AppSync endpoint: http://192.168.254.13:20002/graphql
AppSync Simulator: GraphiQl: http://192.168.254.13:20002
offline: Starting Of

[2021-04-10 12:33] bboure commented on #80
I think you are missing /graphql in the endpoint URL

On Sat, 10 Apr 2021, 14:29 appdatasoft, ***@***.***> wrote:

[2021-04-11 15:55] skix123 commented on #88
Hi, I'm also facing `Cannot read defaultAuthenticationtype of undefined` error.

Here's my `serverless.yml` file:
[code]

The error occurs a few seconds after I run `sls offline start` - no API request is necessary.

[2021-04-11 16:39] bboure commented on #88
@skix123  @appdatasoft Tryp to set the `SLS_DEBUG` env var to `*` (`export SLS_DEBUG="*"`) and run `sls offline start` again.
Then check the logs, look for `AppSync Simulator:` and try to see why there is no `defaultAuthenticationType`

you should see something like

[code]

[2021-04-11 17:00] appdatasoft commented on #88
@bboure

Here is the log after SSL_BEBUG IS SET:

Serverless: To ensure safe major version upgrades ensure "frameworkVersion" setting in service configuration (recommended setup: "frameworkVersion: ^2.35.0")
Serverless: Invoke offline:start

AppSync Simulator: TypeError: Cannot read property 'path' of undefined
offline: Starting Offline: dev/us-east-2.
[offline] options: {
  allowCache: false,
  a

[2021-04-11 17:00] skix123 commented on #88
@bboure nothing there. Here's the full log:
[code]

[2021-04-11 17:07] skix123 commented on #88
Node v14.14.0 if that matters

[2021-04-11 17:14] skix123 commented on #88
Maybe bumping `amplify-appsync-simulator` to the latest version would help?

[2021-04-12 15:50] skix123 commented on #88
Update: I had `serverless-plugin-typescript` plugin and it caused this error. Now I've remove it and have another one: `Error: UnauthorizedException: Missing authorization`

Log:

[code]

As before, it occurs a few seconds after `sls offline start` but it doesn't crash the app and I'm able to make a graphql request and execute queries like nothing happened. However, error occurs at every request a

[2021-04-14 07:16] bboure commented on #88
@skix123 OK, if you are using typescript or any bundler, you have to update the path where the simulator looks for compiled code.

Example:
[code]

[2021-04-14 07:19] skix123 commented on #88
Still the same (`location: dist`)

[2021-04-14 07:21] bboure commented on #88
OK, just realized your issue is about `defaultAuthenticationType`

can we please separate issues in 2 different tickets for clarity and tracking?

[2021-04-14 10:23] skix123 opened #89 "Error: UnauthorizedException: Missing authorization"
A few seconds after running `sls offline start` (no additional action required) the following error occurs:

[code]

Here's my `serverless.yml`:
[code]

This error keeps occurring every few seconds.

Note that the API works correctly and I'm able to make graphql requests and receive results.

[2021-04-14 10:54] bboure commented on #89
It is weird that you are able to execute queries with that error.
The Exception is thrown [here](https://github.com/aws-amplify/amplify-cli/blob/eb9257eaee117d0ed53ebc23aa28ecd7b7510fa1/packages/amplify-appsync-simulator/src/__tests__/utils/auth-helpers/current-auth-mode.test.ts#L151), I believe.
It might be worth debugging to try to find what is going on around these lines.

Looks like you are us

[2021-04-14 11:02] skix123 commented on #89
Yes, `authorization` header with jwt.

But it's not about Cogito, the same error occurs with `API_KEY` method

[2021-04-14 11:29] skix123 commented on #89
I've found that `headers` is an empty object [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/src/server/websocket-subscription.ts#L58), causing this error. But the question is - what is trying to connect for the subscription? I don't have any client running.

[2021-04-14 11:36] skix123 commented on #89
Well... it turned out I had a frontend project running in my browser that wanted to make a websocket connection with the API 🙈

[2021-04-14 11:36] #89 closed

[2021-04-14 19:34] louislatreille opened #90 "Cannot use the plugin with multiple AppSync APIs"
**Describe the bug**
I have a serverless project with multiple AppSync APIs configured.

E.g.
[code]

When deploying the stack locally with `sls offline start`, I can only make requests against the first API defined in the list. Trying to make requests on other APIs returns an error stating that the operation doesn't exist.

**To Reproduce**
1. Create a project with two or more AppSync APIs.
2. St

[2021-04-15 02:03] appdatasoft commented on #88
@bboure looks like both the 2 issues are connected to each other.

[2021-04-15 06:25] bboure commented on #90
Hi @louislatreille Thank you for reporting this.
You are correct. For now, [only the first API is supported](https://github.com/bboure/serverless-appsync-simulator/blob/master/src/index.js#L82-L85). This should probably be better documented in the README.

It should be possible to support all APIs by spawning more than one server, each using a different port number.
If you feel like it, feel free

[2021-04-15 16:06] #54 closed

[2021-04-15 16:06] #73 closed

[2021-04-15 16:06] #71 closed

[2021-04-15 18:54] louislatreille commented on #90
Thanks @bboure that clarifies the issue! I'll see if I can work on a PR some times. It doesn't seem to complicated to add that functionality.

[2021-04-20 10:14] somq opened #91 "TypeError: Cannot read property 'path' of undefined (v0.14.0 - absolute paths computation on Windows)"
**Describe the bug**

[This PR](https://github.com/bboure/serverless-appsync-simulator/pull/85) breaks the plugin on Windows because absolute schema  paths does not get computed properly.

`sls offline start` relevant log

[code]

**To Reproduce**
Run v0.15.0 on Windows

**Expected behavior**
Absolute schema paths should get computed properly

**Additional context**

- Downgrading to v0.13.0 fixes

[2021-04-20 10:18] bboure commented on #91
Thank you @somq for this detailed explanation.

Will try to have a look at this, unfortunately I don't have a windows machine at hand

Related issue: #88 and to some extend, sid88in/serverless-appsync-plugin/issues/404

[2021-04-20 10:19] bboure commented on #88
Related issue/duplicate: #91

[2021-04-20 15:23] somq commented on #91
You're welcome @bboure

I checked a bit deeper and it looks like we are not respecting the [expected pattern syntax](https://github.com/mrmlnc/fast-glob#pattern-syntax) by `fast-glob` (the dep behind `globby`)

Quote from `fast-glob`

Our `basePath` on Windows contains drive letters and backslashes. (e.g. `D:\_dev\_projects\redacted`)
A solution would be to force-convert paths to POSIX style.
I'd

[2021-04-21 16:09] louislatreille commented on #90
@bboure I've opened #92 to address this.

[2021-04-21 17:56] somq commented on #91
@bboure I can prepare a PR next week when I got to my Windows machine at work
Cheers!

[2021-04-25 08:56] #90 closed

[2021-04-25 08:57] bboure commented on #90
:tada: This issue has been resolved in version 0.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-appsync-simulator/v/0.16.0)
- [GitHub release](https://github.com/bboure/serverless-appsync-simulator/releases/tag/v0.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-27 19:42] #91 closed

[2021-04-27 19:44] bboure commented on #91
:tada: This issue has been resolved in version 0.16.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-appsync-simulator/v/0.16.1)
- [GitHub release](https://github.com/bboure/serverless-appsync-simulator/releases/tag/v0.16.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-29 10:14] etaylor23 opened #96 "DynamoDB batch operations fail with error 'not implemented'"
**Describe the bug**
When invoking a resolver that causes a DynamoDB batch operation on my local serverless API, I receive an error stating 'GraphQL error: Operation  BatchPutItem not implemented'.

**To Reproduce**
- Create a resolver and mapping template which runs a BatchPutItem request to DynamoDB
- Run the mutation

**Expected behavior**
Inline with how AppSync itself behaves, I'd expect that

[2021-04-29 10:49] bboure commented on #96
Thank you @etaylor23

This is a limitation by [amplify-cli](https://github.com/aws-amplify/amplify-cli/)
As the error says, [BatchPutItem is not implemented](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/src/data-loader/dynamo-db/index.ts#L45-L48)

Feel free to open a PR or issue there.

I think there is already some effort being do to implement [Batch](

[2021-05-05 01:22] Jasper8628 commented on #70
thanks @cameroncf  for the answer, I had the same issue where serverless is stuck on "Building with Webpack...", had a quick look through all 31 closed issues, I decided to give this one a try haha
(I'm just adding more descriptions on the issue to make it more google-albe)

[2021-05-09 05:24] appdatasoft opened #97 "Watchman: spawn watchman ENOENT -"
I am getting the following error when starting on windows:

Watchman:  spawn watchman ENOENT

 Error ---------------------------------------------------

  Error: spawn watchman ENOENT
      at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19)
      at onErrorNT (internal/child_process.js:465:16)
      at processTicksAndRejections (internal/process/task_queues.js:80:21)

Below

[2021-05-13 19:27] thekamahele commented on #97
Just upgraded to latest and same issue on a mac

[2021-05-21 13:14] moioo91120 commented on #97
Same thing,
and i noticed I have this 2 lines where Appsync is somehow going to 10.5.3.175, no idea why or what it is :

AppSync Simulator: undefined AppSync endpoint: http://10.5.3.175:20002/graphql
AppSync Simulator: undefined GraphiQl: http://10.5.3.175:20002

[2021-05-28 02:13] matmunn commented on #97
This issue is resolved by installing watchman.

From the docs:

[2021-06-14 15:57] #81 closed

[2021-06-16 02:11] #36 closed

[2021-06-26 10:52] #88 closed

[2021-06-27 04:23] yukitaka13-1110 opened #106 "$util.map.copyAndRemoveAllKeys is not working"
I'm developing appsync with serverless-framewrok.
I use dynamodb so I implemented vtl resolver files.
But `copyAndRemoveAllKeys` is not working.

See the following example code.
This is a `respose.vtl` code.

[code]

This always returns null and no error occurred.
I deployed this code and query it.
Unfortunately, I could retrieve expected response, not null.

`query`
[code]

#### AppSync console r

[2021-07-04 13:08] tux86 opened #108 "Bug when starting AppSync Simulator: TypeError: strToSplit.split is not a function"
**Bug Intro**

To  reproduce this a error you should have  **serverless-appsync-simulator** and **serverless-offline** plugins and   cloudfront resource configuration for  appsync.

When starting offline mode with **serveress offline start** I got this error:

[code]

**Bug description**

The bug is caused by appsync-simulator if you have  **Fn::Split** CF function in  **DomainName** of **Origin**

[2021-07-05 12:24] #96 closed

[2021-07-06 13:58] bboure commented on #106
@yukitaka13-1110 This is a known issue in [amplify-cli](https://github.com/aws-amplify/amplify-cli)

I have noticed it too and haven't had time to fix it.
 a PR/issue should be opened in amplify-cli.

It happens because `["uid"]` is not transformed into a [JavaArray](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/src/velocity/value-mapper/array.ts)

In th

[2021-07-06 14:02] bboure commented on #108
Thank you @tux86

This bug comes from the [cfn-resolver-lib](https://github.com/robessog/cfn-resolver-lib/blob/60175a75d27a5940c2cc25fe1810a2a2ffcffe8e/src/nodeTypes/FnSplit.js#L18) package (dependency of this plugin).

Please try to investigate what happens around these lines and see if the issue is in this plugin our `cfn-resolver-lib`

[2021-07-08 16:33] yukitaka13-1110 commented on #106
@bboure Thank you for your response!
I'll try it.

Additionally, I found `$HashMap.size()` is not working with the following error.

[code]

Do you have any idea about this?

[2021-07-08 17:02] yukitaka13-1110 commented on #106
@bboure I confirmed my code worked correctly in AppSync console query.

[2021-07-09 05:25] yukitaka13-1110 commented on #106
@bboure Sample code.

[code]
Local simulator: Missing request mapping template errror
AppSync Console: no error

[2021-07-09 07:43] bboure commented on #106
Thanks @yukitaka13-1110
Is that the full template? If so, it resolves to an empty template. I am not sure un what case that would happen? (maybe in pipelines??)

I know by experience that empty templates don't work, but I thought it was an AppSync, not simulator.
Templates should usually be JSON parsable. If the template does not return anything, I usually return `{}`

I will have a try at this. I

[2021-07-09 08:52] yukitaka13-1110 commented on #106
@bboure I found node version v16.0.0 caused this error.
Change to v12.0.0 then error disappeared but `size()` !== actual.

See this.

[code]

I think this occurs when put same key twice.

[code]

[2021-07-09 09:19] yukitaka13-1110 commented on #106
@bboure In AppSync console, I got expected result.

[code]

[code]

[2021-07-12 11:10] tux86 commented on #108
I have investigated the problem in **cfn-resolver-lib/src/nodeTypes/FnSplit.js**

`const strToSplit = this.directDependencies[1].evaluate();
`

strToSplit variable is supposed to contain a string but it's failing in this case because returned value is an array  [ 'EventapipubdevGraphQlApi', 'GraphQLUrl' ].

Fn::GetAtt  is not evaluated to string before evaluating Fn::Split: function.
[code]

As yo

[2021-07-12 11:21] tux86 commented on #108
I have opened an issue in **cfn-resolver-lib** repo.

https://github.com/robessog/cfn-resolver-lib/issues/117

[2021-07-24 15:40] Mudassir-23 commented on #97
@matmunn thanks! Installing watchman resolved this issue.
Note for people like me who didn't knew what watch is earlier. Watchman is not a npm package. https://facebook.github.io/watchman/docs/install.html

[2021-07-24 16:22] Mudassir-23 commented on #23
@bboure Subscription with serverless-appsync-simulator work fine, its just that graphiql interface doesn't support the subscription testing yet.
I was able to test subscription in dev through this example https://github.com/awslabs/aws-mobile-appsync-sdk-js/blob/aws-appsync%403.0.4/tutorials/react-offline-realtime-todos/src/App.js. I'm planning to clean up this example to make it generic and easy

[2021-07-24 21:05] matmunn commented on #97
Thanks for posting the link, I should have done that myself.

[2021-08-09 22:13] katesclau commented on #75
Hey, we have the same requirement, I'll also put some effort on this 💪

[2021-08-11 16:46] katesclau commented on #75
Seems this was solve by https://github.com/bboure/serverless-appsync-simulator/pull/110

[2021-08-11 18:17] #75 closed

[2021-08-12 11:45] somq opened #119 "Index n is out of bound when trying to manipulate AWS::StackId Ref"
Trying to split the StackId by using a `Fn::Split` inside a `Fn::Select` would crash the resolver.
I'm not sure if the issue is related to AppSync simulator or the offline plugin which would not resolve the StackId Ref because hardcoding it seems to fix the issue.

Error

[code]

Relevant crashing resource example

[code]

It looks like the AWS::StackId does not get resolved by the offline plugin,

[2021-08-20 17:49] katesclau opened #120 "RelationalDataLoader support for Variable Map"
**Is your feature request related to a problem? Please describe.**
We use a lot of variable maps in our VTLs, and using the recently released `[RelationalDataLoader](https://github.com/bboure/serverless-appsync-simulator/pull/110)` implementation, we've noticed that some of our templates were failing. Here's an example:

Here's an example:
[code]

This insert fails today 😢 because the DB client se

[2021-08-27 12:51] somq opened #122 "v0.17 breaks the hotreload (lambdas changes are ignored)"
**Describe the bug**
Starting at [`v0.17.0`](https://github.com/bboure/serverless-appsync-simulator/issues/74) the hot-reload feature gets broken, changes are ignored.

**To Reproduce**
Setup a template with webpack build to a custom folder, and set this custom folder as an `appsync-simulator` location.

**Expected behavior**
Hotreload should take lambda changes into account, even with a custom lo

[2021-08-28 06:57] bboure commented on #122
Thank you @somq for reporting this.

I haven't had this issue.
Hot reloading for Lambda are handled by `serverless-offline`.
`loadLocalEnv` has been removed.
It is now handled by `serverless-offline` a too, and I believe it's the default behaviour.

[2021-08-28 07:20] bboure commented on #122
I'll investigate and try to reproduce.

If you have a way to reproduce, please let me know

[2021-08-28 19:36] katesclau opened #126 "0.19 Variable Map injection broken by replaceAll"
**Describe the bug**
`replaceAll` is not a supported function. We need to fall back to replace with `RegExp`.

[code]

**To Reproduce**
Create a Query on and RDS Data source with `variableMap`

[code]
Run it and watch it break.

**Expected behavior**
The query returns the value in the response `$ctx.result`

[2021-08-28 19:47] katesclau commented on #126
Another solution to this, is upgrading to NodeJS >v15

[2021-09-02 10:13] jariz opened #129 "RelationalDataLoader: database connections aren't closed"
**Describe the bug**
I keep having to restart sls offline because my database servers is at it's maximum amount of connections.

**To Reproduce**
Run a couple of GQL queries, then run `SHOW PROCESSLIST`.
You will see numerous connections that are still left open, and won't get closed until forcefully restarting sls-offline.

**Expected behavior**
Connections get closed after a GQL query has been e

[2021-09-02 10:23] bboure commented on #129
thank you @jariz for filing this issue.

cc: @katesclau @alichherawalla
Any idea on how to fix this?
I would try to use a singleton for the connection [instead of creating a new one for each request](https://github.com/bboure/serverless-appsync-simulator/blob/master/src/data-loaders/RelationalDataLoader.js#L166)?
The singleton can live in the class.

One thing I am not sure about is if `Relational

[2021-09-02 10:37] katesclau commented on #129
Loader is instantiated at init on `amplify-appsync-simulator`
[code]
I've forked it to suit our needs here https://github.com/returnmates/amplify-appsync-simulator

check how `new DynamoDB` is handled at `constructor`

[2021-09-02 11:47] alichherawalla commented on #129
I haven't personally run into this issue as yet. I will take a deeper look over the weekend and fix it.

[2021-09-14 10:20] #106 closed

[2021-09-17 14:19] #108 closed

[2021-09-17 21:31] tux86 commented on #108
I resolved this issy by changing the way of generating appsync domain.
`
                      DomainName:
                        !Join
                          - '.'
                          - - !GetAtt Backendpriv${sls:stage}GraphQlApi.ApiId
                            - 'appsync-api'
                            - ${self:provider.region}
                            - 'amazonaws.com'
`

[2021-09-24 21:45] maidanskyi commented on #88
@appdatasoft Hi
Have the same issue
Have you figured it out?

[2021-09-29 23:55] #97 closed

[2021-10-01 11:52] jkruse14 opened #132 "Default response vtl behvior not supported"
**Describe the bug**
Per AWS [Lambda Resovler docs](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-lambda.html):

[code]

**NOTE: I had to update the above snippet to be the following to work correctly:
[code]

Currently, errors from underlying APIs are not bubbled up to the GraphQL response; rather you will see a message like this (if a resource is not fou

[2021-10-08 10:22] SanderKnape opened #137 "Usage with Typescript"
Hello. When using this plugin together with the `serverless-plugin-typescript` plugin, the simulator automatically looks in our `.build` directory to find the compiled Lambda functions.

However, it also attempts to find the `schema.graphql` in this same directory which fails as this file only exists in the root. I don't see an option to tell it to find the schema in a different location from the

[2021-10-09 08:59] bboure commented on #137
Hi,

By default, this plugin looks into the [servicePath](https://github.com/bboure/serverless-appsync-simulator/blob/master/src/getAppSyncConfig.js#L225), which is the root of your `serverless.yml` file.

It looks like `serverless-plugin-typescript` [overrides that path](https://github.com/serverless/serverless-plugin-typescript/blob/master/src/index.ts#L146).

[This is an issue I also encountere

[2021-10-10 14:37] SanderKnape commented on #137
Hi bboure, thanks for taking a look at this!

We're not using mapping templates, but I just added one as a test and I see it has the same issue as `.build` is added to the path:

`Error: ENOENT: no such file or directory, open '/Users/[...]/.build/mapping-templates/request.vtl`

I guess having two `location` options to 1) override the servicePath and 2) set the Lambda path to `.build` would fix th

[2021-10-20 09:05] #120 closed

[2021-10-28 15:39] SanderKnape opened #138 "AppSync CloudFormation resources not generated when running the simulator"
I was investigating an existing issue https://github.com/bboure/serverless-appsync-simulator/issues/108 but I think the issue is different from what is discussed in that ticket.

In addition to the error I also see warnings like `Fn::GetAttResolvers not found in params file: GraphQlApi`. This is because the CFN resolver can not find my `GraphQlApi` CloudFormation resource. This causes the `!GetAtt

[2021-11-03 09:58] #122 closed

[2021-11-10 22:57] shawnmclean commented on #137
Can anyone explain how to implement this change?

[2021-11-14 12:08] bboure commented on #137
We could add an option `basePath` that users could set in the serverless.yml in order to specify the path of the mapping templates and schemas.
If present, use it everywhere we use the `servicePath`.

I'll try to find some time and implement this

[2021-11-20 11:15] ehtesham1996 commented on #23
Hi @Mudassir-23 ,
Any way possible you can post more easier example here ?

[2021-12-07 13:06] #132 closed

[2021-12-14 13:19] adriantodt commented on #108
I stumbled on this same error, but managed to fix it by adding a override on getAttMap:

The evaluation at fault:
[code]

AppSync Simulator getAttMap override which fixed it:
[code]

[2021-12-24 21:39] alvaroseparovich commented on #97
Hey, this is the default behavior, as described in the doc, its reasonable to add this to the readme dependencies. Tough this is cleared in this issue, some guys who use the plugin at the first time (as I do) will need to do a bit of search to know what is happening when this problem raises.

[2021-12-28 15:06] trsrm commented on #88
It is failing because the plugin is [looking](https://github.com/bboure/serverless-appsync-simulator/blob/master/src/getAppSyncConfig.js#L226) for a `graphql.schema` file inside the `servicePath` which is `.build` in case of TypeScript project. By default, this folder **doesn't** contain the schema file.

If you are using the [serverless-plugin-typescript](https://github.com/serverless/serverless-

[2021-12-28 15:08] trsrm commented on #88
@bboure Please, add this to the documentation to simplify TS integration.

[2022-01-03 16:47] #138 closed

[2022-01-04 15:10] adriantodt opened #142 "Updating GraphQL to major version 16 breaks simulator"
**Describe the bug**

Our project uses multiple schema files (to make editing the whole schema easier), and trying to update GraphQL from `^15.5.3` to `^16.2.0` makes serverless-appsync-simulator stop working, with the following error:

`AppSync Simulator: TypeError: graphql.getDescription is not a function`

A bit investigation found that `serverless-appsync-simulator` is using `merge-graphql-sch

[2022-01-04 20:39] jongaull-livecontrol opened #144 "Unable to convert {...} to class com.amazonaws.deepdish.transform.model.lambda.LambdaVersionedConfig."
**Describe the bug**
Making a request to the API while running locally results in the following error:

[code]

**To Reproduce**

Here is my serverless.yml file:
[code]

`helloAppSync` is defined in my `src` directory.

Run using `sls offline start`

After the server successfully initializes, send the following query using the GraphQL tool of your choice:
[code]

**Expected behavior**
I expected t

[2022-01-13 14:53] adriantodt commented on #142
I finally managed to test all repositories affected and they all seem to work!

[2022-01-13 14:53] #142 closed

[2022-01-18 21:25] pkubat opened #147 "Error while executing GraphQL statement Error: Must provide Source. Received: undefined"
**Describe the bug**
This is a direct lambda query/datasource.  It works fine deployed to AWS but dies not to work locally.  Not sure how to debug/trace as SLS_DEBUG does not generate traces or output from the queries.

**To Reproduce**
` npx sls offline start` and query the service

sample query
[code]

**Expected behavior**

**Screenshots**

**Additional context**

[code]

[code]

SLS+DEBUG=*
[c

[2022-01-19 21:45] pkubat commented on #147
This is caused by the use of an HTTP header `Content-Type:application/graphql` which is used in AWS's examples at https://docs.aws.amazon.com/appsync/latest/devguide/security-authz.html#api-key-authorization.  It seems that the request ends up as any empty object `{}`

The workaround for this is  to drop the header `Content-Type:application/graphql` or use `application/json`

[2022-01-20 14:44] #137 closed

[2022-01-28 02:46] goda-kazuki opened #148 "authenticationType AWS_LAMBDA Doesn't work"
**Does your functional requirement relate to the problem? Please describe it.

Lamda is new to AppSync authentication, serverless-appsync-plugin supports it, but serverless-appsync-simulator does not.

Since amplify is already supported, can I import it?
https://github.com/aws-amplify/amplify-cli/issues/7963

Thank you !

[2022-02-02 23:20] pkubat opened #149 "Setting response template generates error: Missing request mapping template"
**Describe the bug**
If I set the request and response to false, everything works fine.  If I set either to a template I get the following error `Error: Missing request mapping template`

Ok the crazy port or me missing something:  It worked once.  (I think).  I tried to strip everything back to a very simple config.  It's just one data source and mapping at this point.

Either config will deploy

[2022-02-03 14:42] pkubat commented on #149
Ok, the root cause was an issue in my _response_ template.   The other issue is that the was amplify-appsync-simulator throws a bad message for _request_.  The feature request (which Il will post for AWS) is not to hide the template parsing errors, but rather to return them.  Once I had the template error, it was a stupid quick fix.

[2022-02-03 15:27] pkubat commented on #149
https://github.com/aws-amplify/amplify-cli/pull/9687

[2022-02-03 15:29] pkubat commented on #149
After I fixed my template my issue was resolved.  To make this easier to resolve in the future; that is an AWS simulator issue and PR: https://github.com/aws-amplify/amplify-cli/pull/9687

[2022-02-03 15:29] #149 closed

[2022-02-04 18:37] trsrm opened #150 "Simulate authorization with Cognito User Pool"
It would be great having an ability to simulate authorization with Cognito User Pool.

https://docs.aws.amazon.com/appsync/latest/devguide/security-authz.html#amazon-cognito-user-pools-authorization

[2022-02-04 19:09] trsrm commented on #150
UPD: It actually works.

[2022-02-04 19:09] #150 closed

[2022-02-04 19:09] trsrm commented on #150
Maybe it makes sense to update the documentation.

[2022-02-16 20:36] alvaroseparovich commented on #80
I've just had the same issue, I solved using the hardcoded key on my serverless.yaml as [indicated here](https://github.com/serverless-appsync/serverless-appsync-simulator/issues/36#issuecomment-646976342)
I think this is something worthy to be in the doc, even though being amazons source code problem.

[2022-02-17 20:43] bboure commented on #148
It would need to be implemented here.

I would need to look into amplify-cli to see how it works.

Will keep you updated.

If you wanted to have a go at this, a PR is also welcome 🙂

[2022-02-17 20:47] bboure commented on #147
Thank you @pkubat
I think this issue is probably on https://github.com/aws-amplify/amplify-cli/
it might be worth opening an issue there

[2022-02-17 20:55] bboure commented on #33
multiple runtimes should now work via serverless-offline since v0.17.0

[2022-02-17 20:56] #33 closed

[2022-02-28 17:19] somq opened #158 "location parameter is ignored from v0.17.0"
**Describe the bug**
From version `0.17.0`, the `location` configuration parameter seems ignored.
Therefore the target lambdas are from the last package in `.serverless` folder and lambdas won't get refreshed on hot-reload.

**To Reproduce**
Set a `location` configuration parameter to any custom lambdas build path.
Example with `serverless-webpack`

[code]

**Expected behavior**
Custom lambdas loc

[2022-03-08 06:19] mayunike opened #159 "Missing support for authenticationType OPENID_CONNECT, AWS_LAMBDA,"
I see currently authenticationType API_KEY only supported. Any plans to support other authentication types?

[2022-03-08 23:22] katesclau commented on #159
This depends on implementation on appsync-cli, more specifically, in the `amplify-appsync-simulator` package https://github.com/aws-amplify/amplify-cli

I've implemented a quick solution in our forked package (we also use a custom `serverless-appsync-simulator` forked from this one)
https://github.com/returnmates/amplify-appsync-simulator/commit/7c8535d63a59d302b0b38d5b83233558d6f1e99a

I guess th

[2022-04-20 10:34] ccmattr opened #162 "Update to the newer version of amplify-appsync-simulator"
There has been a bunch of updates to the source package with the current version standing at [2.3.11] (https://www.npmjs.com/package/amplify-appsync-simulator/v/2.3.11).

Would it be possible to get that updated?

[2022-05-17 20:25] adamduren commented on #23
It seems GraphiQL has supported subscriptions with a custom fetcher for some time now according to [this](https://www.apollographql.com/blog/community/how-to-use-subscriptions-in-graphiql-1d6ab8dbd74b/) blog post.

[2022-06-08 11:27] vinodsr opened #168 "Support of enhanced subscription filtering"
Can you please provide support for enhanced filtering in subscription as per https://docs.aws.amazon.com/appsync/latest/devguide/aws-appsync-real-time-enhanced-filtering.html#aws-appsync-real-time-enhanced-filtering-defining-from-client

When i tried to implement it , getting the error

[code]

[2022-06-11 08:41] bboure commented on #168
Hi,

This is handled by the [amplify-appsync-simulator](https://www.npmjs.com/package/amplify-appsync-simulator) package (dependency of this plugin).

This plugin might need upgrading to the latest version.

Could you try with the latest version of amplify-appsync-simulator and see if that fixes the problem?

[2022-06-11 08:45] bboure commented on #168
according to the [changelog](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/CHANGELOG.md) it does not look like it's something that has been fixed

it would not hurt upgrading though.

[2022-06-14 17:18] jongaull-livecontrol commented on #144
Thank you @utopiaseth!

Unfortunately our team is no longer using Appsync so I have not been able to dedicate time to tracking down the root cause.

[2022-06-14 17:18] #144 closed

[2022-06-28 08:51] jamsmd opened #170 "AppSync Simulator: TypeError: Cannot convert undefined or null to object"
**Describe the bug**
When following these steps: https://www.npmjs.com/package/serverless-appsync-simulator
I try to run `sls offline start` and it gives me the following error: `AppSync Simulator: TypeError: Cannot convert undefined or null to object`

**To Reproduce**
I created a new serverless project with the aws-http-api template.
Follow these steps: https://www.npmjs.com/package/serverless-a

[2022-06-28 08:52] jamsmd commented on #170
Also found this question: https://stackoverflow.com/questions/72695038/appsync-simulator-typeerror-cannot-convert-undefined-or-null-to-object

The solution did not resolve it for me

[2022-06-29 04:50] snadeau commented on #170
I ran into the same issue. The solution proposed at [https://stackoverflow.com/questions/72695038/appsync-simulator-typeerror-cannot-convert-undefined-or-null-to-object](https://stackoverflow.com/questions/72695038/appsync-simulator-typeerror-cannot-convert-undefined-or-null-to-object) (downgrading cfn-resolver-lib from 1.1.8 to 1.1.7) did resolve the issue in my case.

[2022-06-29 13:47] jamsmd commented on #170
Thank you for responding

I finally fixed it..

Had to switch to `npm` and remove `serverless-plugin-typescript` >.<

[2022-07-06 17:27] ericmaicon commented on #170
I don't have `serverless-plugin-typescript` installed here. How did you guys solve this?

[2022-07-08 11:01] allycallow commented on #170
Just started a new project and get this error also. Any updates?

[2022-07-08 11:05] Ravindu-Hirimuthugoda commented on #170
same

[2022-07-08 13:55] vincent38wargnier commented on #96
So it's not possible to do batch with Amplify?

[2022-07-09 02:52] snadeau commented on #170
I'm using yarn, so I added the following to my package.json to force the use of the previous version of cfn-resolver-lib:

[code]

Not sure what the equivalent would be with npm.

[2022-07-25 09:39] katesclau commented on #170
Another option is to update `serverless-appsync-simulator/lib/index.js`

[code]

[2022-08-26 20:20] imajithkv commented on #148
Hi @bboure
Is there any timeline, this issue is expected to be resolved?
Please let me know.

Thank you!

[2022-09-06 05:16] muditsunarctech commented on #87
Hey, How did you get this working?

[2022-10-13 12:15] Hideman85 commented on #23
There is an update in the amplify project According to the [CHANGELOG](https://github.com/aws-amplify/amplify-cli/blob/dev/packages/amplify-appsync-simulator/CHANGELOG.md) they have fixed mocking WS.

Note this changes are available in the latest version but for this we need to swicth from `amplify-appsync-simulator` to `@aws-amplify/amplify-appsync-simulator`

We tried today in our team via yarn

[2022-10-13 13:03] bboure commented on #23
Thank you @Hideman85

If you got this working, please feel free to open a PR, that would be great.

Thanks

[2022-10-13 13:05] bboure commented on #148
Sorry @ajvj
nothing yet.

There have been quite some changes recently in the was package. I guess it requires a bump, but we need to make sure that it stays compatible and works.

Unfortunately, I haven't had time recently to work on this library; but if anyone is willing to look into this and open a PR, I'd be happy to have a look at it.

[2022-10-13 13:08] bboure commented on #170
Thank you @katesclau

Could you open a PR to fix this? That would be great.

Thanks

[2022-10-15 02:05] sergueidmitriev commented on #170
in npm I just installed cfn-resolver-lib "1.1.7" explicitly and it helped